.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    height: 880px;
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}